#canvas {
  margin: 0 auto;
}
.bloque {
  text-align: center;
  width: 20px;
  height: 20px;
  float: left;
  font-size: 0.5em;
  color: #333;
}
#bloque-1273 {
  color:black !important;
  background-color: white !important;
}
html {
  background-color: black !important;
  color: white !important;
}
